
#root {
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;

  padding: 10px;

  display: flex;
  flex-direction: column;
}

.app-header {
  font-size: 22px;
}

.app .input * {
  display: block;
}

.input .input-group {
  padding-bottom: 10px;
}

.input textarea {
  resize: none;
  width: 100%;
  min-width: 200px;
}

.action {
  overflow: auto;
}

.action button {
  float: right;
  padding-left: 10px;
  padding-right: 10px;
  min-width: 50px;
}
